<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>

<p>Created: {{ post.created_at }}</p>
<br>
<hr>

{% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<p>
    {% if request.user == post.author %}
    <a href="{% url 'post_update' post.slug %}">Edit</a><br>
    <a href="{% url 'post_delete' post.slug %}">Delete</a><br>
    {% endif %}
    <a href="{% url 'post_list' %}">Back to List</a>
</p>
